<br />

<div class="booyah-box col-10 offset-1 transp">
  <h1>Privacy Policy</h1>

  <p>
    To receive a full copy of our privacy policy please contact us via <%= link_to 'Email', 'mailto:michloud50@gmail.com' %>
  </p>
</div>